/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <13 14 15 16 36 37>;
            flavor = "tap-preferred";
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <19 20 21 22 39 40 41>;
            flavor = "tap-preferred";
        };

        thumblayer: thumblayer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMBLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <40 37 38 36 39 41>;
            flavor = "hold-preferred";
        };

        thumbmod: thumbmod {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMBMOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <41 40 39 38 37 36>;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        btclear {
            bindings = <&bt BT_CLR>;
            key-positions = <5 6>;
            layers = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R              &kp T               &kp Y             &kp U                    &kp I                   &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F              &kp G               &kp H             &kp J                    &kp K                   &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V              &kp B               &kp N             &kp M                    &kp COMMA               &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &thumblayer 2 TAB  &hml LSHFT SPACE    &hmr RCTRL ENTER  &thumblayer 1 BACKSPACE  &thumbmod RCTRL ESCAPE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1        &kp N2        &kp N3      &kp N4         &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0         &kp BSPC
&trans  &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(UP)  &kp LC(RIGHT)  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp PAGE_UP    &kp HOME
&trans  &trans        &trans        &trans      &trans         &trans    &trans    &trans    &trans  &trans     &kp PAGE_DOWN  &kp END
                                    &trans      &trans         &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0    &bt BT_SEL 1  &trans  &trans  &trans  &kp LG(PLUS)         &kp K_VOLUME_UP
&trans  &trans  &trans  &trans  &trans  &trans          &trans        &trans  &trans  &trans  &kp LG(MINUS)        &kp K_VOL_DN
&trans  &trans  &trans  &trans  &trans  &trans          &trans        &trans  &trans  &trans  &kp LG(KP_NUMBER_0)  &kp K_PLAY_PAUSE
                        &trans  &trans  &trans          &trans        &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        both {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
